<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    <section>
        <h2>Create new item</h2>
        <form action="{{ url_for('create_item') }}" method="POST">
            <label>Name</label>
            <input name="name" type="text">
            <br>
            <label>Description</label>
            <br>
            <textarea name="description" rows="4"></textarea>
            <br>
            <label>Price</label>
            <input name="price" type="number">
            <br>
            <label>Category</label>
            <select name="category"> 
                {% for category in category_list %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Create</button>
            <button type="reset">Clear</button>
            <a href="{{ url_for('get_categories') }}">Go Back</a>
        </form>
    </section>
    
</body>
</html>