<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Edit Category</h2>
        <form action="#" method="POST">
            <label>Name</label>
            <input name="name" type="text">
            <br>
            <label>Description</label>
            <br>
            <textarea name="description" rows="4"></textarea>
            <br>
            <button type="submit">Save</button>
            <button type="reset">Clear</button>
            <button type="button" formaction="#">Cancel</button>
        </form>
    </body>
</html>