{% extends "base.html" %} 
{% block title %} Home {% endblock title %} 
{% block content %} 
<div class="medium-6 large-4 cell">
    <ul class="vertical-menu align-center">
        <h3>Newest Items</h3>
        {% if new_item_list %} 
        {% for new_item in new_item_list %}
        <li>
            <a href="{{ url_for('show_item', item_id=new_item.id) }}">{{ new_item.name }}</a>
            [{{ new_item.category.name }}]
        </li>
        {% endfor %} 
        {% else %}
        <strong>No new items</strong>
        {% endif %}
    </ul>
</div>
{% endblock content %}