<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <aside>
            <a href="{{ url_for('create_category') }}">Create Category</a>
            {% if category_list %}
                <ul>Categories</ul>
                {% for category in category_list %}
                    <li> <a href="{{ url_for('show_category_items', category_id=category.id) }}">{{ category.name }}</a> </li>
                {% endfor %}
            {% else %}
                <strong> No categories. </strong>
            {% endif %}
            </aside>
            <section>
                {% if new_item_list %}
                    <ul>Newest items</ul>
                    {% for new_item in new_item_list %}
                        <li>{{ new_item.name }}</li> 
                    {% endfor %}
                {% else %}
                    <strong>No new items</strong>
                {% endif %}
            </section>
    </body>
</html>